/* 
	Soldevi Reset file v1.0
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  line-height: 1.5;
  margin-bottom: 18px;
  color: #333; }

.muted {
  color: #666; }

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: #000;
  letter-spacing: -0.025em; }

ul {
  list-style: disc;
  margin-bottom: 1.5em; }

ol {
  list-style: decimal;
  margin-bottom: 1.5em; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5; }

html {
  box-sizing: border-box;
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-size: 120%;
  line-height: 1.25;
  min-height: 100%; }

h1 {
  font-size: 2em;
  line-height: 1.25;
  margin-top: 0.9375em;
  margin-bottom: 0.3125em; }

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
  margin-top: 1.15384616em;
  margin-bottom: 0.38461539em; }

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
  margin-top: 1.37500001em;
  margin-bottom: 0.45833334em; }

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
  margin-top: 1.66666667em;
  margin-bottom: 0.55555556em; }

blockquote {
  font-size: 1.25em;
  line-height: 1.25; }

abbr {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.1em; }

@media (min-width: 43.75em) {
  body {
    font-size: 1em;
    line-height: 1.375; }

  h1 {
    font-size: 2.5em;
    line-height: 1.125;
    margin-top: 0.73333334em;
    margin-bottom: 0.24444445em; }

  h2 {
    font-size: 2em;
    line-height: 1.25;
    margin-top: 1.03125em;
    margin-bottom: 0.34375em; }

  h3 {
    font-size: 1.5em;
    line-height: 1.25;
    margin-top: 1.37500001em;
    margin-bottom: 0.45833334em; }

  h4 {
    line-height: 1.22222222;
    margin-top: 1.83333333em;
    margin-bottom: 0.61111111em; }

  blockquote {
    font-size: 1.5em;
    line-height: 1.45833333; } }
@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
    margin-top: 0.6875em;
    margin-bottom: 0.22916667em; }

  h2 {
    font-size: 2.25em;
    line-height: 1.25;
    margin-top: 1.03125em;
    margin-bottom: 0.34375em; }

  h3 {
    font-size: 1.75em;
    line-height: 1.25;
    margin-top: 1.37500001em;
    margin-bottom: 0.45833334em; } }
/*
	 Generic Stuff
*/
body {
  background: #e9eaed;
  font-family: helvetica, arial, san-serif; }

header {
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 4px 12px;
  background: #910101;
  background-image: url(../img/topBar.png);
  background-repeat: repeat;
  border-bottom: 1px solid #600000;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.52); }

header:after {
  clear: both;
  display: block;
  height: 1px;
  visibility: none;
  content: ""; }

.logo {
  font-family: lobster;
  color: #fff;
  text-shadow: 0 -1px 0 #888;
  float: left;
  font-size: 1.6em; }

.navigation {
  float: right;
  color: #fff;
  text-shadow: 0 -1px 0 #888; }

.navigation i {
  margin: 0 10px;
  vertical-align: middle;
  cursor: pointer; }

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  position: relative; }

.sideLink {
  font-size: 0.8em;
  color: #000;
  text-decoration: none; }

.mainContent {
  z-index: 1;
  position: relative;
  width: 100%;
  padding: 10px 250px 0 150px; }

.noSponsored {
  padding: 10px 0 0 150px; }

.sideBar {
  width: 150px;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 10px 10px 0 0;
  z-index: 3; }

.sponsored {
  width: 250px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 10px 0 0 10px; }

.trending {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background: #fff;
  padding: 10px; }

.cardTitle {
  width: 100%;
  border-bottom: 1px solid #d3d6db;
  background: #f6f7f8;
  padding: 10px 0 10px 20px;
  font-size: 1.4em;
  font-weight: bold;
  color: #910101; }

.feedObject {
  margin-bottom: 10px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background: #fff;
  padding: 0; }

.innerFeed {
  padding: 10px; }

.sideHeader {
  color: #777;
  text-transform: uppercase; }

.sideLink i {
  margin-right: 10px; }

.sideLink.current {
  color: #910101; }

.colouredText {
  color: #910101; }

.avatar {
  max-width: 100%; }

/*
     Specific
*/
.feedHeader {
  zoom: 1;
  padding-bottom: 10px; }

.feedHeader:after {
  content: "";
  display: block;
  height: 1px;
  visibility: 0;
  clear: both; }

.feedAvatar {
  width: 50px;
  height: 50px;
  background: #910101;
  float: left;
  margin-right: 10px; }

.postedBy {
  color: #910101;
  font-size: 1.2em;
  font-weight: bold; }

.date {
  font-size: 0.8em; }

.trender {
  font-size: 0.7em;
  color: #777;
  margin-bottom: 10px; }

.feedControls {
  border-top: 1px solid #dfe0e4;
  padding: 10px 4px 0 8px; }

.feedControl {
  display: inline;
  color: #dfe0e4;
  padding: 8px 10px 0 0;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer; }

.feedControl:hover {
  color: #000; }

.feedControl i {
  margin-right: 10px; }

.likedSection {
  border-top: 1px solid #dfe0e4;
  border-bottom: 1px solid #dfe0e4;
  font-size: 0.8em;
  padding: 10px; }

.feedImage {
  width: 100%; }

.games {
  padding-top: 10px;
  border-top: 1px solid #dfe0e4;
  position: relative;
  width: 100%; }

.gameBlock {
  width: 50%;
  display: inline;
  height: 100px; }

.gameImg {
  background: #910101;
  width: 100%;
  height: 100%; }

.comments {
  padding-bottom: 10px; }

.comment {
  padding: 10px 10px 0 50px;
  position: relative; }

.commentAvatar {
  position: absolute;
  width: 30px;
  left: 10px;
  top: 14px;
  margin: 0; }

.commentBy {
  color: #910101;
  font-size: 1em;
  margin-right: 4px;
  font-weight: bold; }

.commentContent {
  font-size: 0.85em; }

.commentFooter {
  color: #dfe0e4;
  font-size: 0.7em; }

.commentLikes i {
  margin-right: 4px; }

.commentLikes {
  margin-right: 8px;
  color: #444; }

.mainWrapper {
  height: 100%; }

.userHeader {
  width: 100%;
  height: 300px;
  margin-top: -10px;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background: #fff;
  padding: 0;
  border-top: 0px; }

.userHero {
  width: 100%;
  height: 250px;
  background: url(../img/samBg.jpg);
  background-size: cover;
  background-position: center; }

.noHero.userHeader {
  height: 140px; }

.noHero .userHero {
  height: 90px; }

.noHero .userAvatar {
  bottom: 10px;
  left: 10px; }

.userAvatar {
  width: 120px;
  height: 120px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background: #fff;
  padding: 4px;
  position: absolute;
  left: 20px;
  bottom: 20px; }

.userName {
  position: absolute;
  left: 160px;
  text-shadow: 0 0 4px #333;
  bottom: 60px;
  color: #fff;
  font-size: 2.5em;
  font-weight: bold; }

.userNav {
  text-align: center; }

.userNav div {
  cursor: pointer;
  display: inline-block;
  border-left: 1px solid #dfe0e4;
  padding: 14px 30px;
  position: relative; }

.userNav div:hover {
  color: #910101; }

.userNav div:last-child {
  border-right: 1px solid #dfe0e4; }

.userNav .current:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #e9eaed;
  bottom: 00px;
  left: 50%;
  margin-left: -10px; }

.aboutBody {
  display: none;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background: #fff;
  padding: 0; }

.aboutNav {
  width: 240px;
  position: absolute;
  padding: 10px; }

.outerAbout {
  width: 100%;
  padding-left: 240px; }

.aboutContent {
  border-left: 1px solid #dfe0e4;
  min-height: 300px;
  font-size: 0.8em; }

.aboutContents {
  display: none;
  padding: 10px; }

.aboutItem {
  color: #9197a3;
  padding: 10px 0;
  cursor: pointer; }

.aboutItem:hover {
  color: #000; }

.aboutItem.current {
  font-weight: bold;
  color: #000; }

.aboutSection {
  padding-bottom: 18px; }

.aboutSection p:nth-of-type(1) {
  margin-top: 12px; }

.miniHeader {
  color: #9197a3;
  border-bottom: 1px solid #9197a3;
  padding: 12px 0;
  text-transform: uppercase; }

.infoTable {
  width: 100%; }

.infoTable td {
  padding: 12px 0; }

.infoTable tr {
  border-bottom: 1px solid #dfe0e4; }

.labelTd {
  color: #9197a3; }

.aboutAvatar {
  float: left;
  height: 50px;
  width: 50px;
  background: #910101;
  margin-right: 10px; }

.aboutFamilyName {
  color: #910101;
  font-size: 1.2em; }

.aboutFamilyRel {
  font-size: 0.8em; }

.messagesStart {
  width: 100%;
  color: #dfe0e4;
  text-align: center;
  padding-bottom: 10px; }

.messageContainer {
  min-height: 200px;
  height: auto;
  max-height: 1000px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 3px;
  background: #fff;
  overflow: auto;
  padding: 10px;
  display: table-cell;
  vertical-align: bottom; }

.messageCont {
  position: relative;
  padding: 0 0 10px 40px;
  margin-bottom: 10px;
  vertical-align: bottom;
  width: 100%; }

.messageCont:last-child {
  margin-bottom: 0;
  border-bottom: 0px; }

.messageAvatar {
  position: absolute;
  width: 30px;
  left: 0px;
  top: 5px; }

.messageName {
  color: #910101;
  font-size: 1.2em; }

.messageContents {
  font-size: 0.85em; }

.sentOn {
  float: right;
  font-size: 0.8em;
  color: #aaa; }

.sentFrom {
  margin: 0 10px; }

/*# sourceMappingURL=style.css.map */
